

<div class="team">
    <h1><%= @team.name%></h1>
    <h2>Team Motto: <%= @team.motto%>  
</div><br>

<% @superhero.each do |superhero|%>
    <div class="superhero">
        <h2>Hero Name: <%=superhero.name%></h2>
        <h4>Hero Power: <%=superhero.power%></h4>
        <h4>Hero Biography: <%=superhero.biography%></h4>
    </div><br>
    <% end %>



